spec:
  destination:
    server: https://kubernetes.default.svc
  minio:
    repoURL: https://charts.min.io/
    targetRevision: "5.4.0"
    chart: minio
    releaseName: minio
    valueFiles: https://raw.githubusercontent.com/mafshar85/k8s-p/refs/heads/main/add-ons/minio/helm.values.yaml
    namespace: minio